/*ex.1*/
:root {
    --title-primary: 32px;
    --title-weight: 700;
}

.titleClass {
    font-size: var(--title-primary);
    font-weight: var(--title-weight);
}

/*ex.2*/
.spinner {
    width: 32px;
    height: 32px;
    border: 4px solid grey;
    border-bottom: 4px solid blue;
    border-radius: 50%;
    animation: rotate 1s linear infinite;
}

@keyframes rotate {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

/*ex.3*/
body{
    margin: 0;
}
.bg-liniar{
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(90deg, pink, grey);
    background-size: 300%;
    background-position: left;
    animation: bg 5s alternate infinite;
}
@keyframes bg{
    0%{
        background-position: left;
    }
    100%{
background-position: right;
    }
}